{% extends "base.html" %}
{% block title %}Додати АРМ{% endblock %}
{% block content %}
    <div class="header">
        <h1>Додати новий АРМ</h1>
    </div>
    <form method="POST" action="/add">
        <label>IP-адреса:</label><input type="text" name="ip_address" required><br>
        <label>MAC-адреса:</label><input type="text" name="mac_address" required><br>
        <label>Рівень доступу:</label><input type="text" name="access_level" required><br>
        <label>Підрозділ:</label><input type="text" name="unit" required><br>
        <label>ПІБ та Посада:</label><input type="text" name="person" required><br>
        <label>Контакти:</label><input type="text" name="contacts" required><br>
        <label>Примітки:</label><input type="text" name="notes"><br>
        <label>Локація:</label><input type="text" name="location"><br>
        <button type="submit">Додати</button>
    </form>
{% endblock %}