{% extends "base.html" %}
{% block title %}Додати Обслуговування{% endblock %}
{% block content %}
    <div class="header">
        <h1>Додати Обслуговування</h1>
    </div>
    <div class="form-container">
        <form method="POST" action="/add_maintenance">
            <div class="form-group">
                <label for="inventory_number">Інвентарний номер:</label>
                <input type="text" id="inventory_number" name="inventory_number" list="inventory_numbers" required>
                <datalist id="inventory_numbers">
                    {% for number in inventory_numbers %}
                    <option value="{{ number }}">{{ number }}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <label for="maintenance_date">Дата:</label>
                <input type="text" id="maintenance_date" name="maintenance_date" required>
            </div>
            <div class="form-group">
                <label for="type">Тип:</label>
                <input type="text" id="type" name="type" required>
            </div>
            <div class="form-group">
                <label for="performed">Виконане:</label>
                <input type="text" id="performed" name="performed" required>
            </div>
            <div class="form-group">
                <label for="performed_by">Виконав:</label>
                <input type="text" id="performed_by" name="performed_by" required>
            </div>
            <div class="form-group">
                <label for="maintenance_comments">Коментарі:</label>
                <input type="text" id="maintenance_comments" name="maintenance_comments">
            </div>
            <div class="form-buttons">
                <button type="submit" class="submit-btn">Додати</button>
                <a href="/maintenance" class="cancel-btn">Скасувати</a>
            </div>
        </form>
    </div>
{% endblock %}