<!DOCTYPE html>
<html lang="uk">
<head>
    <title>Додати обслуговування</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Додати обслуговування</h1>
        <a href="/details" class="corner-link">Повернутися до деталей</a>
    </div>
    <form method="POST" action="/add_maintenance">
        <label>Дата:</label><br>
        <input type="date" name="maintenance_date" required><br>
        <label>Тип обслуговування:</label><br>
        <input type="text" name="type" required><br>
        <label>Що виконано:</label><br>
        <input type="text" name="performed" required><br>
        <label>Хто виконав:</label><br>
        <input type="text" name="performed_by" required><br>
        <label>Коментарі:</label><br>
        <textarea name="maintenance_comments" rows="4"></textarea><br><br>
        <button type="submit">Додати</button>
    </form>
</body>
</html>