{% extends "base.html" %}
{% block title %}Додати ПЗ{% endblock %}
{% block content %}
    <div class="header">
        <h1>Додати ПЗ</h1>
    </div>
    <div class="form-container">
        <form method="POST" action="/add_software">
            <div class="form-group">
                <label for="inventory_number">Інвентарний номер:</label>
                 <input type="text" id="inventory_number" name="inventory_number" value="АРМ-" required>

                 <datalist id="inventory_numbers">
                    {% for number in inventory_numbers %}
                    <option value="{{ number }}">{{ number }}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <label for="software_date">Дата:</label>
                <input type="text" id="software_date" name="software_date" required>
            </div>
            <div class="form-group">
                <label for="software_name">Назва ПЗ:</label>
                <input type="text" id="software_name" name="software_name" required>
            </div>
            <div class="form-group">
                <label for="version">Версія:</label>
                <input type="text" id="version" name="version" required>
            </div>
            <div class="form-group">
                <label for="license_key">Ліцензійний ключ:</label>
                <input type="text" id="license_key" name="license_key">
            </div>
            <div class="form-group">
                <label for="software_comments">Коментарі:</label>
                <input type="text" id="software_comments" name="software_comments">
            </div>
            <div class="form-buttons">
                <button type="submit" class="submit-btn">Додати</button>
                <a href="/software" class="cancel-btn">Скасувати</a>
            </div>
        </form>
    </div>
{% endblock %}