{% extends "base.html" %}
{% block title %}Додати Обслуговування{% endblock %}
{% block content %}
    <div class="header">
        <h1>Додати Обслуговування</h1>
    </div>
    <form method="POST" action="/add_maintenance">
        <label>Дата:</label><input type="text" name="maintenance_date" required><br>
        <label>Тип:</label><input type="text" name="type" required><br>
        <label>Виконане:</label><input type="text" name="performed" required><br>
        <label>Виконав:</label><input type="text" name="performed_by" required><br>
        <label>Коментарі:</label><input type="text" name="maintenance_comments"><br>
        <button type="submit">Додати</button>
    </form>
{% endblock %}