{% extends "base.html" %}
{% block title %}Редагувати Обслуговування{% endblock %}
{% block content %}
    <div class="header">
        <h1>Редагувати Обслуговування</h1>
    </div>
    <form method="POST" action="/edit_maintenance/{{ maintenance['id'] }}">
        <label>Дата:</label><input type="text" name="maintenance_date" value="{{ maintenance['date'] }}" required><br>
        <label>Тип:</label><input type="text" name="type" value="{{ maintenance['type'] }}" required><br>
        <label>Виконане:</label><input type="text" name="performed" value="{{ maintenance['performed'] }}" required><br>
        <label>Виконав:</label><input type="text" name="performed_by" value="{{ maintenance['performed_by'] }}" required><br>
        <label>Коментарі:</label><input type="text" name="maintenance_comments" value="{{ maintenance['comments'] }}"><br>
        <button type="submit">Зберегти</button>
    </form>
{% endblock %}