{% extends "base.html" %}
{% block title %}Редагувати ПЗ{% endblock %}
{% block content %}
    <div class="header">
        <h1>Редагувати ПЗ</h1>
    </div>
    <form method="POST" action="/edit_software/{{ software['id'] }}">
        <label>Дата:</label><input type="text" name="software_date" value="{{ software['date'] }}" required><br>
        <label>Назва ПЗ:</label><input type="text" name="software_name" value="{{ software['software_name'] }}" required><br>
        <label>Версія:</label><input type="text" name="version" value="{{ software['version'] }}" required><br>
        <label>Ліцензійний ключ:</label><input type="text" name="license_key" value="{{ software['license_key'] }}"><br>
        <label>Коментарі:</label><input type="text" name="software_comments" value="{{ software['comments'] }}"><br>
        <button type="submit">Зберегти</button>
    </form>
{% endblock %}