{% extends "base.html" %}
{% block title %}Редагувати АРМ{% endblock %}
{% block content %}
    <div class="header">
        <h1>Редагувати АРМ</h1>
    </div>
    <form method="POST" action="/edit/{{ rowid }}">
        <label>IP-адреса:</label><input type="text" name="ip_address" value="{{ workplace['ip_address'] }}" required><br>
        <label>MAC-адреса:</label><input type="text" name="mac_address" value="{{ workplace['mac_address'] }}" required><br>
        <label>Рівень доступу:</label><input type="text" name="access_level" value="{{ workplace['access_level'] }}" required><br>
        <label>Підрозділ:</label><input type="text" name="unit" value="{{ workplace['unit'] }}" required><br>
        <label>ПІБ та Посада:</label><input type="text" name="person" value="{{ workplace['person'] }}" required><br>
        <label>Контакти:</label><input type="text" name="contacts" value="{{ workplace['contacts'] }}" required><br>
        <label>Примітки:</label><input type="text" name="notes" value="{{ workplace['notes'] }}"><br>
        <label>Локація:</label><input type="text" name="location" value="{{ workplace['location'] }}"><br>
        <button type="submit">Зберегти</button>
    </form>
{% endblock %}