{% extends "base.html" %}
{% block title %}Встановлене ПЗ{% endblock %}
{% block content %}
    <div class="header">
        <h1>Встановлене ПЗ</h1>
    </div>

    <form method="POST" action="/software" class="search-form">
        <input type="text" name="search_term" placeholder="Пошук за інв. номером або ПЗ" value="{{ search_term or '' }}">
        <button type="submit"><i class="fas fa-search"></i></button>
        <a href="/add_software" class="add-button">Додати ПЗ</a>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>Інвентарний номер</th>
                <th>
                    <a href="{{ url_for('main.software', sort_by_date='asc' if sort_by_date == 'desc' else 'desc', search_term_inventory=search_term_inventory, search_term_name=search_term_name) }}">
                        Дата {{ '↑' if sort_by_date == 'asc' else '↓' }}
                    </a>
                </th>
                <th>Назва ПЗ</th>
                <th>Версія</th>
                <th>Ліцензійний ключ</th>
                <th>Коментарі</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for software in software_records %}
            <tr>
                <td>{{ software['inventory_number'] }}</td>
                <td>{{ software['date'] }}</td>
                <td>{{ software['software_name'] }}</td>
                <td>{{ software['version'] }}</td>
                <td>{{ software['license_key'] }}</td>
                <td>{{ software['comments'] }}</td>
                <td>
                    <div class="action-links">
                        <a href="/edit_software/{{ software['id'] }}">Редагувати</a> |
                        <a href="/delete_software/{{ software['id'] }}" onclick="return confirm('Точно видалити?')">Видалити</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}